.hw-content {
  background: #f7f7f7; }
  .hw-content > div.scroll {
    min-height: 100%; }

a {
  text-decoration: none; }

p {
  margin-bottom: 0; }

.kg_show {
  display: block !important; }

.kg_noTop {
  top: 0 !important; }

.pd {
  padding-left: 15px !important;
  padding-right: 15px !important; }

.clear {
  clear: both; }

.hw-btn {
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-weight: 700;
  display: block;
  min-height: initial;
  border-radius: 1px;
  margin-top: 20px; }

.hw-blue-button {
  background: #37bccd;
  display: block;
  color: #fff;
  font-size: 18px;
  border: none; }
  .hw-blue-button.activated {
    background: #009ec7; }
  .hw-blue-button:hover {
    color: #ffffff; }

.hw-yellow-button {
  background: #f4a62a;
  color: #ffffff;
  border: none;
  font-size: 17px; }
  .hw-yellow-button.activated {
    opacity: 0.9; }
  .hw-yellow-button:hover {
    color: #ffffff; }

.hw-light-button {
  background: transparent;
  display: block;
  color: #37bccd;
  border: 1px solid #37bccd;
  border-radius: 3px;
  min-height: inherit; }
  .hw-light-button.activated {
    background: #eeeeee; }
  .hw-light-button:hover {
    color: #37bccd; }

.no_header {
  margin-top: 0 !important; }

.hw-list {
  background: #ffffff; }
  .hw-list .hw-s1 {
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ebebeb; }
    .hw-list .hw-s1 span {
      font-size: 14px;
      color: #4a4a4a; }
  .hw-list .hw-item p {
    margin: 0; }
  .hw-list .hw-item .h4 {
    font-size: 17px;
    color: #4a4a4a; }
  .hw-list .hw-item .hw-sp {
    font-size: 9pt;
    color: #777777; }

.hw-header {
  background: #37bccd; }
  .hw-header .title {
    color: #ffffff; }
  .hw-header .icon {
    color: #ffffff;
    font-size: 24px; }
    .hw-header .icon:before {
      font-size: 18px; }

.hw-footer {
  text-align: center;
  position: static;
  padding-top: 50px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 2; }
  .hw-footer .hw-logo {
    width: 160px;
    margin: 20px auto 10px; }
  .hw-footer small {
    margin: 0 auto 12px;
    font-size: 12px;
    color: #cecece;
    display: block; }

.hw-center-image {
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: transparent;
  position: relative; }

.hw-slide-image {
  background: #f5f5f5; }
  .hw-slide-image .box {
    background: #f5f5f5;
    text-align: center;
    height: 240px;
    overflow: hidden; }
    .hw-slide-image .box .hw-img {
      height: 100%;
      max-width: 100%; }

.hw-image-preview-modal {
  width: 100%;
  height: 100%;
  background: #000; }
  .hw-image-preview-modal .hw-box {
    height: 100%; }
  .hw-image-preview-modal .hw-slide {
    width: 100%;
    height: 70%;
    top: 15%;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center; }
    .hw-image-preview-modal .hw-slide ion-scroll, .hw-image-preview-modal .hw-slide div.scroll {
      width: 100%;
      height: 100%;
      display: flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      align-items: center;
      justify-content: center; }
  .hw-image-preview-modal img {
    width: 100%;
    max-height: 100%; }
  .hw-image-preview-modal .hw-close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99; }
    .hw-image-preview-modal .hw-close i:before {
      font-size: 36px;
      color: #fff; }
  .hw-image-preview-modal .hw-pager {
    position: absolute;
    width: 80%;
    left: 10%;
    z-index: 99;
    bottom: 0;
    height: 10%;
    font-size: 18px;
    color: #fff;
    text-align: center; }

/* base style */
.hw-bizinfo-style .item {
  border: none;
  border-top: 1px solid #ebebeb; }
  .hw-bizinfo-style .item .hw-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 25px;
    position: absolute;
    top: 16px;
    left: 15px; }
    .hw-bizinfo-style .item .hw-img img {
      max-width: inherit;
      max-height: inherit; }
  .hw-bizinfo-style .item h2 {
    font-size: 17px;
    color: #777;
    margin-top: 5px; }
  .hw-bizinfo-style .item p {
    font-size: 12px;
    color: #777777;
    margin-top: 5px; }
  .hw-bizinfo-style .item .icon {
    color: #c5c5c5; }

.hw-bizinfo-style1 .item {
  border: none;
  background: rgba(0, 0, 0, 0.4);
  height: 64px;
  padding-top: 12px;
  padding-bottom: 0;
  padding-left: 65px;
  min-height: 64px; }
  .hw-bizinfo-style1 .item .hw-img {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    top: 12px;
    left: 15px; }
    .hw-bizinfo-style1 .item .hw-img img {
      max-width: inherit;
      max-height: inherit; }
  .hw-bizinfo-style1 .item h2 {
    font-size: 17px;
    color: #fff;
    margin-top: 0px; }
  .hw-bizinfo-style1 .item p {
    font-size: 12px;
    color: #fff;
    margin-top: 0px; }
  .hw-bizinfo-style1 .item .icon {
    color: #fff; }

.hw-center-text {
  font-size: 15px;
  color: #00a7bc;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 25px 0; }

.hw-star-num .icon {
  color: #f4a62a;
  font-size: 20px;
  margin-right: 3px; }

.hw-select {
  display: inline-block;
  height: 46px;
  font-size: 15px;
  color: #4a4a4a;
  padding: 0 10px;
  border: 1px solid #c5c5c5;
  background: transparent; }

.hw-icon {
  display: inline-block;
  background-size: 100%;
  width: 20px;
  height: 20px; }

.icon-clock {
  background-image: url("../img/icon/clock.png"); }

.icon-location {
  background-image: url("../img/icon/loc.png"); }

.icon-phone {
  background-image: url("../img/icon/phone.png"); }

.icon-wechat {
  background-image: url("../img/icon/wechat.png");
  height: 16px; }

.icon-group {
  background-image: url("../img/icon/group.png");
  height: 21px; }

.icon-more {
  background-image: url("../img/icon/more.png"); }

.hw-base-header {
  background: #37bccd; }
  .hw-base-header .title {
    color: #ffffff; }
  .hw-base-header .hw-back {
    color: #ffffff; }
    .hw-base-header .hw-back .icon {
      color: #ffffff;
      font-size: 24px; }

.hw-loading-more {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }
  .hw-loading-more div {
    font-size: 17px;
    color: #777777;
    height: 42px;
    line-height: 42px; }
    .hw-loading-more div ion-spinner {
      height: 28px; }

.hw-kgBaseInput {
  display: block;
  margin: 0 20px;
  text-align: center; }
  .hw-kgBaseInput input {
    width: 100%;
    display: inline-block;
    height: 46px;
    font-size: 15px;
    color: #4a4a4a;
    padding: 0 10px;
    border: 1px solid #c5c5c5; }
  .hw-kgBaseInput select {
    width: 100%;
    display: inline-block;
    height: 46px;
    font-size: 15px;
    color: #4a4a4a;
    padding: 0 10px;
    border: 1px solid #c5c5c5;
    background: #ffffff; }
  .hw-kgBaseInput .error {
    float: right;
    color: #f20d0d;
    font-size: 9pt; }
  .hw-kgBaseInput .lb {
    font-size: 14px;
    color: #acacac;
    float: left; }
  .hw-kgBaseInput .lb.require:after {
    content: '*';
    color: #f00;
    font-size: 18px;
    float: right;
    position: relative;
    left: 5px; }

.hw-hwUserLoginComp .tabs .tab-item.active {
  color: #00a7bc;
  border-color: #00a7bc; }
.hw-hwUserLoginComp .tabs .tab-item {
  background: #ffffff;
  max-width: inherit;
  color: #777;
  font-size: 17px;
  border-color: #ffffff; }
.hw-hwUserLoginComp .tabs .activated {
  color: #777 !important; }
.hw-hwUserLoginComp .c-box {
  position: absolute;
  left: 0;
  top: 120px;
  width: 100%;
  min-height: 280px; }
  .hw-hwUserLoginComp .c-box .hw-btn {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px; }

.hw-line {
  height: 1px;
  width: 100%;
  display: block;
  background: #ebebeb;
  margin: 20px 0; }

/* common box comp */
.hw-article-list {
  background: #ffffff; }
  .hw-article-list .c-title {
    font-size: 15px;
    color: #9b9b9b;
    padding: 12px 15px; }
  .hw-article-list .item {
    min-height: 76px;
    height: 76px;
    padding-bottom: 12px; }
    .hw-article-list .item .hw-img {
      width: 76px;
      height: 56px;
      position: absolute;
      overflow: hidden;
      left: 15px;
      top: 8px; }
    .hw-article-list .item h2 {
      font-size: 17px;
      line-height: 24px;
      height: 48px;
      margin-top: 5px;
      color: #4a4a4a;
      font-weight: normal;
      white-space: normal;
      display: flex;
      align-items: center; }
    .hw-article-list .item .c-small {
      font-size: 16px;
      margin-top: 2px;
      height: 38px;
      line-height: 18px; }
    .hw-article-list .item .hw-sp {
      font-size: 9pt;
      color: #9b9b9b;
      position: relative;
      top: -2px; }

.hw-coupon-list {
  background: #ffffff; }
  .hw-coupon-list .c-title {
    font-size: 15px;
    color: #9b9b9b;
    padding: 12px 15px; }
  .hw-coupon-list .item {
    min-height: 74px;
    padding-bottom: 10px; }
    .hw-coupon-list .item .hw-img {
      width: 80px;
      height: 56px;
      position: absolute;
      overflow: hidden;
      left: 15px;
      top: 8px; }
    .hw-coupon-list .item h2 {
      font-size: 19px;
      line-height: 24px;
      height: 26px;
      margin-top: 0;
      font-weight: normal;
      white-space: normal;
      color: #f4a62a; }
    .hw-coupon-list .item .c-sp {
      font-size: 12px;
      color: #777;
      display: inline-block;
      margin-top: 4px; }

.hw-store-list {
  background: transparent; }
  .hw-store-list .hw-item {
    min-height: 86px;
    height: auto;
    background: #ffffff;
    padding: 12px 15px;
    padding-left: 75px;
    border-color: #ebebeb;
    border-left: none;
    border-right: none;
    padding-right: 0; }
    .hw-store-list .hw-item .hw-img {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 12px;
      left: 15px;
      overflow: hidden; }
    .hw-store-list .hw-item .h4 {
      font-size: 17px; }
    .hw-store-list .hw-item .hw-coupon {
      height: 24px;
      border-top: 1px solid #ebebeb;
      margin-top: 2px;
      padding-top: 6px; }
      .hw-store-list .hw-item .hw-coupon p {
        color: #f4a62a; }
        .hw-store-list .hw-item .hw-coupon p .icon {
          background: url(http://www.haiwai.com/pc/image/store_coupon.png);
          width: 24px;
          height: 24px;
          background-size: 100%;
          margin-right: 8px;
          vertical-align: middle;
          display: inline-block; }

.hw-loading-more {
  width: 100%;
  height: 40px;
  background: #ffffff;
  margin-top: 30px;
  text-align: center; }
  .hw-loading-more label {
    font-size: 15px;
    cursor: pointer;
    margin: 0 auto;
    line-height: 40px;
    font-weight: normal;
    color: #37bccd; }
  .hw-loading-more .spinner-ios, .hw-loading-more .spinner-ios-small {
    stroke: #37bccd;
    position: relative;
    top: 6px; }

.cp-site-header {
  background: #37bccd; }
  .cp-site-header input::-webkit-input-placeholder {
    color: #dddddd;
    font-weight: 700; }
  .cp-site-header button > .icon {
    color: #ffffff; }
  .cp-site-header .c1 {
    background: transparent;
    color: #ffffff;
    border: none;
    font-weight: 700;
    font-size: 14px;
    width: 90px;
    text-align: left; }
  .cp-site-header .c-lb {
    height: 32px;
    border-radius: 16px;
    background: #00a7bc;
    border: none;
    width: 90%;
    margin-left: 10px;
    top: 2px; }
    .cp-site-header .c-lb input {
      color: #ffffff;
      font-size: 14px; }
    .cp-site-header .c-lb .icon {
      font-size: 24px;
      color: #ffffff;
      position: relative;
      left: -6px; }
  .cp-site-header .c2 {
    text-align: right;
    width: 50px; }
    .cp-site-header .c2 .icon:before {
      color: #ffffff;
      font-size: 28px; }

.cp-site-nav {
  background: #ffffff;
  height: 191px; }
  .cp-site-nav .row {
    height: 98px;
    padding: 0;
    margin-left: -1px; }
    .cp-site-nav .row .col {
      padding: 0;
      width: 25%;
      border-bottom: 1px solid #ebebeb;
      border-left: 1px solid #ebebeb;
      text-align: center; }
      .cp-site-nav .row .col a {
        display: block; }
      .cp-site-nav .row .col img {
        width: 25px;
        height: 32px;
        margin-top: 24px; }
      .cp-site-nav .row .col b {
        display: block;
        margin-top: 4px;
        font-size: 9px;
        overflow: hidden;
        height: 20px; }

.hw-hwStoreViewComp .hw-num {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  top: 25px;
  right: 40px;
  padding: 0 10px;
  font-size: 13px;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  border-radius: 12px; }
.hw-hwStoreViewComp .hw-info {
  background: #ffffff;
  padding: 12px 15px;
  height: 100px;
  position: relative;
  padding-left: 95px;
  overflow: hidden; }
  .hw-hwStoreViewComp .hw-info h4 {
    font-size: 22px;
    font-weight: normal;
    color: #4a4a4a;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .hw-hwStoreViewComp .hw-info .hw-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 14px;
    left: 15px;
    overflow: hidden; }
  .hw-hwStoreViewComp .hw-info .hw-sp {
    font-size: 13px;
    color: #777;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
.hw-hwStoreViewComp .hw-list .item {
  border: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  height: 42px;
  line-height: 42px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 45px;
  color: #4a4a4a;
  font-size: 14px; }
  .hw-hwStoreViewComp .hw-list .item .hw-icon {
    position: absolute;
    top: 11px;
    left: 15px; }
  .hw-hwStoreViewComp .hw-list .item .icon {
    color: #c5c5c5;
    font-size: 28px; }
.hw-hwStoreViewComp .hw-list .hw-atm {
  padding: 8px 15px 8px 45px;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 24px; }
.hw-hwStoreViewComp .hw-rpbox {
  background: #ffffff;
  padding-bottom: 0; }
  .hw-hwStoreViewComp .hw-rpbox .b-title {
    font-size: 15px;
    color: #9b9b9b;
    padding: 12px 15px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px; }
  .hw-hwStoreViewComp .hw-rpbox .b-each {
    margin-bottom: 25px;
    padding: 0 15px; }
    .hw-hwStoreViewComp .hw-rpbox .b-each:last-child {
      padding-bottom: 15px; }
    .hw-hwStoreViewComp .hw-rpbox .b-each .b-info {
      height: 42px;
      padding-left: 55px;
      position: relative; }
      .hw-hwStoreViewComp .hw-rpbox .b-each .b-info .hw-user {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        border-radius: 21px; }
      .hw-hwStoreViewComp .hw-rpbox .b-each .b-info label {
        display: block;
        font-size: 13px;
        color: #777;
        height: 22px;
        line-height: 22px; }
      .hw-hwStoreViewComp .hw-rpbox .b-each .b-info .hw-star-num .icon {
        font-size: 16px; }
    .hw-hwStoreViewComp .hw-rpbox .b-each .b-msg {
      margin-top: 12px;
      margin-bottom: 8px;
      font-size: 17px;
      line-height: 22px;
      color: #4a4a4a; }
    .hw-hwStoreViewComp .hw-rpbox .b-each .b-igbox {
      height: auto; }
      .hw-hwStoreViewComp .hw-rpbox .b-each .b-igbox .b-img {
        display: inline-block;
        margin-right: 5px;
        width: 60px;
        height: 60px;
        overflow: hidden; }
      .hw-hwStoreViewComp .hw-rpbox .b-each .b-igbox .hw-big {
        width: 60px;
        height: 60px; }
      .hw-hwStoreViewComp .hw-rpbox .b-each .b-igbox .hw-small {
        width: 50px;
        height: 50px; }
  .hw-hwStoreViewComp .hw-rpbox .b-empty {
    font-size: 21px;
    color: #9b9b9b;
    height: 150px; }

.hw-storeViewMoreInfo .hw-list .item {
  border: none;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  height: 42px;
  line-height: 42px;
  padding-top: 0;
  padding-bottom: 0;
  color: #4a4a4a;
  font-size: 14px; }
  .hw-storeViewMoreInfo .hw-list .item .hw-icon {
    position: absolute;
    top: 11px;
    left: 15px; }
  .hw-storeViewMoreInfo .hw-list .item .icon {
    color: #c5c5c5;
    font-size: 28px; }

.hw-hwArticleViewComp .ca {
  padding: 0;
  background: #ffffff; }
.hw-hwArticleViewComp .hw-title {
  font-size: 21px;
  font-size: #4a4a4a;
  font-weight: normal;
  margin: 0;
  padding: 20px 0; }
.hw-hwArticleViewComp .hw-sp {
  font-size: 12px;
  color: #777777;
  display: inline-block; }
.hw-hwArticleViewComp .hw-article {
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
  padding-bottom: 30px; }
  .hw-hwArticleViewComp .hw-article img {
    margin-top: 15px;
    max-width: 100%; }

.hw-news-header {
  background: #37bccd;
  position: relative; }
  .hw-news-header .icon {
    color: #fff; }
  .hw-news-header .hw-text {
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding-left: 15px; }

.hw-news-header .hw-one {
  height: 30px;
  display: inline-block;
  width: 80px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  line-height: 30px;
  margin-right: 5px;
  margin-top: 5px; }

.hw-news-header .hw-one:first-child {
  margin-left: 5px; }

.hw-news-header .hw-one.hw-action {
  font-weight: 700;
  font-size: 18px; }

.hw-news-header .hw-down {
  position: absolute;
  top: 3px;
  right: 0;
  height: 40px;
  width: 30px;
  text-align: center;
  background: #37bccd;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  justify-content: center; }

.hw-news-header .hw-down .icon:before {
  font-size: 24px; }

.hw-news-header-modal {
  background: rgba(255, 255, 255, 0.5); }
  .hw-news-header-modal .hw-box {
    background: #37bccd;
    padding: 10px 15px 20px; }
    .hw-news-header-modal .hw-box .hw-col {
      display: inline-block;
      width: 25%;
      text-align: center;
      margin-top: 10px; }
      .hw-news-header-modal .hw-box .hw-col b {
        color: #111;
        background: #fff;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        height: 30px;
        line-height: 30px;
        width: 80%;
        display: block;
        margin: 0 auto; }

.hw-hwCouponViewComp .ca {
  background: #ffffff; }
.hw-hwCouponViewComp .hw-title {
  color: #f4a62a;
  font-size: 24px;
  line-height: 34px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0; }
.hw-hwCouponViewComp .hw-tlt {
  font-size: 15px;
  color: #9b9b9b;
  height: 42px;
  line-height: 42px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding-left: 15px;
  margin: 0; }
.hw-hwCouponViewComp .hw-dd {
  padding-top: 10px;
  padding-bottom: 10px; }
  .hw-hwCouponViewComp .hw-dd label {
    font-size: 16px;
    color: #4a4a4a; }
  .hw-hwCouponViewComp .hw-dd p {
    font-size: 16px;
    color: #777;
    margin: 4px 0 15px 0; }
.hw-hwCouponViewComp .hw-map {
  margin-top: 20px;
  height: 120px; }
.hw-hwCouponViewComp .hw-address {
  background: #ffffff;
  font-size: 15px;
  height: 42px;
  line-height: 42px;
  color: #4a4a4a;
  border-top: 1px solid #ebebeb;
  padding-left: 15px;
  padding-right: 38px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .hw-hwCouponViewComp .hw-address .icon {
    color: #c5c5c5;
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 0; }

.hw-mine-storelist {
  background: transparent; }
  .hw-mine-storelist .hw-item {
    height: 86px;
    min-height: inherit;
    margin-bottom: 10px;
    background: #ffffff;
    padding: 12px 15px;
    padding-left: 75px; }
    .hw-mine-storelist .hw-item .hw-img {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 12px;
      left: 15px;
      overflow: hidden; }
    .hw-mine-storelist .hw-item .h4 {
      font-size: 17px; }

.hw-cs-step {
  width: 100%;
  height: 5px;
  background: #c5c5c5; }
  .hw-cs-step p {
    background: #f4a62a;
    height: 100%;
    width: 33%; }

.hw-createstore-step1 .hw-kgBaseInput {
  margin-top: 20px; }
.hw-createstore-step1 .hw-catbox {
  width: 100%;
  margin-top: 5px;
  text-align: left; }
  .hw-createstore-step1 .hw-catbox .hw-one {
    height: 34px;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    color: #979797;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    padding: 0 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 12px; }
    .hw-createstore-step1 .hw-catbox .hw-one.active {
      background: #f4a62a;
      color: #ffffff;
      border-color: #f4a62a; }

.hw-createstore-step2 .hw-kgBaseInput {
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
