$blue-color : #37bccd;
$c77-color : #777;
$c9b-color : #9b9b9b;
$yellow-color : #f4a62a;
$color-4a : #4a4a4a;
@mixin flex_center{
    display: flex;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: center;
}
@mixin no_wrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.hw-content{
    //margin-top: 44px;
    background: #f7f7f7;

    &>div.scroll{
        min-height: 100%;
    }
}

a{
    text-decoration: none;
}
p{
    margin-bottom: 0;
}

.pd{
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.hw-btn{
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-weight: 700;
}
.hw-blue-button{
    background : $blue-color;
    display : block;
    margin-top : 20px;
    color : #fff;
    font-size : 18px;
    border-radius: 4px;
    border: none;
    min-height: inherit;

    &.activated{
        background : #009ec7;
    }
    &:hover{
        color: #ffffff;
    }
}
.hw-light-button{
    background: transparent;
    display: block;
    color : $blue-color;
    border : 1px solid $blue-color;
    border-radius: 4px;
    font-size : 18px;
    min-height: inherit;

    &.activated{
        background : #eeeeee;
    }

    &:hover{
        color: $blue-color;
    }
}

//.backdrop-loading.active{
//    background: transparent !important;
//}

.no_header{
    margin-top:0 !important;
}


.hw-list{
    background: #ffffff;

    //单行模式
    .hw-s1{
        padding: 0 15px;
        height: 42px;
        line-height: 42px;
        border-bottom:1px solid #ebebeb;

        span{
            font-size: 14px;
            color: $color-4a;
        }
    }
}

.hw-header{
    background: $blue-color;

    .title{
        color: #ffffff;
    }

    .icon{
        color: #ffffff;
        font-size: 24px;
        &:before{
            font-size: 18px;
        }
    }
}

.hw-footer{
    text-align: center;
    position: static;
    padding-top: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;

    .hw-logo{
        width: 160px;
        margin: 20px auto 10px;
    }

    small{
        margin: 0 auto 12px;
        font-size: 12px;
        color: #cecece;
        display: block;
    }
}

.hw-center-image{
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background: transparent;
    position: relative;
}

.hw-slide-image{
    background: #f5f5f5;

    .box{
        background: #f5f5f5;
        text-align: center;
        height: 240px;
        overflow: hidden;

        .hw-img{
            height: 100%;
            max-width: 100%;
        }
    }
}

.hw-image-preview-modal{
    width: 100%;
    height: 100%;
    background: #000;

    .hw-box{
        height: 100%;
    }

    .hw-slide{
        width: 100%;
        height: 70%;
        top: 15%;
        @include flex_center;


        ion-scroll, div.scroll{
            width: 100%;
            height: 100%;
            @include flex_center;
        }
    }

    img{
        width: 100%;
        max-height: 100%;
    }

    .hw-close{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;

        i:before{
            font-size: 36px;
            color: #fff;
        }
    }
    .hw-pager{
        position: absolute;
        width: 80%;
        left: 10%;
        z-index: 99;
        bottom: 0;
        height: 10%;
        font-size: 18px;
        color: #fff;
        text-align: center;
    }
}

/* base style */
.hw-bizinfo-style{
    .item{
        border : none;
        border-top: 1px solid #ebebeb;

        .hw-img{
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 25px;
            position: absolute;
            top: 16px;
            left: 15px;

            img{
                max-width: inherit;
                max-height:inherit;
            }

        }

        h2{
            font-size: 17px;
            color: #777;
            margin-top: 5px;
        }
        p{
            font-size: 12px;
            color: #777777;
            margin-top: 5px;
        }
        .icon{
            color: #c5c5c5;
        }
    }
}

.hw-bizinfo-style1{
    .item{
        border: none;
        background: rgba(0,0,0,0.4);
        height: 64px;
        padding-top: 12px;
        padding-bottom: 0;
        padding-left: 65px;
        min-height: 64px;
        .hw-img{
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 20px;
            position: absolute;
            top: 12px;
            left: 15px;

            img{
                max-width: inherit;
                max-height:inherit;
            }

        }

        h2{
            font-size: 17px;
            color: #fff;
            margin-top: 0px;
        }
        p{
            font-size: 12px;
            color: #fff;
            margin-top: 0px;
        }
        .icon{
            color: #fff;
        }
    }
}



/* common box comp */
.hw-article-list{
    background: #ffffff;

    .c-title{
        font-size: 15px;
        color: #9b9b9b;
        padding: 12px 15px;
    }
    .item{
        min-height: 72px;
        padding-bottom: 12px;

        .hw-img{
            width: 76px;
            height: 56px;
            position: absolute;
            overflow: hidden;
            left: 15px;
            top: 8px;
        }

        h2{
            font-size: 17px;
            line-height: 24px;
            height: 48px;
            margin-top: 5px;
            color: $color-4a;
            font-weight: normal;
            white-space: normal;
        }
    }
}

.hw-coupon-list{
    background: #ffffff;
    .c-title{
        font-size: 15px;
        color: #9b9b9b;
        padding: 12px 15px;
    }
    .item{
        min-height: 74px;
        padding-bottom: 10px;

        .hw-img{
            width: 80px;
            height: 56px;
            position: absolute;
            overflow: hidden;
            left: 15px;
            top: 8px;
        }

        h2{
            font-size: 19px;
            line-height: 24px;
            height: 26px;
            margin-top: 0;
            font-weight: normal;
            white-space: normal;
            color: $yellow-color;
        }

        .c-sp{
            font-size: 12px;
            color: #777;
            display: inline-block;
            margin-top: 4px;
        }
    }
}