$blue-color : #37bccd;
$c77-color : #777;
$c9b-color : #9b9b9b;
$yellow-color : #f4a62a;
$color-4a : #4a4a4a;

.hw-content{
    margin-top: 44px;
    background: #f7f7f7;
}

a{
    text-decoration: none;
}

.hw-btn{
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-weight: 700;
}
.hw-blue-button{
    background : $blue-color;
    display : block;
    margin-top : 20px;
    color : #fff;
    font-size : 18px;
    border-radius: 4px;
    border: none;
    min-height: inherit;

    &.activated{
        background : #009ec7;
    }
    &:hover{
        color: #ffffff;
    }
}
.hw-light-button{
    background: transparent;
    display: block;
    color : $blue-color;
    border : 1px solid $blue-color;
    border-radius: 4px;
    font-size : 18px;
    min-height: inherit;

    &.activated{
        background : #eeeeee;
    }

    &:hover{
        color: $blue-color;
    }
}

//.backdrop-loading.active{
//    background: transparent !important;
//}

.no_header{
    margin-top:0 !important;
}


.hw-list{
    background: #ffffff;

    //单行模式
    .hw-s1{
        padding: 0 15px;
        height: 42px;
        line-height: 42px;
        border-bottom:1px solid #ebebeb;

        span{
            font-size: 14px;
            color: $color-4a;
        }
    }
}

.hw-header{
    background: $blue-color;

    .title{
        color: #ffffff;
    }

    .icon{
        color: #ffffff;
        font-size: 24px;
        &:before{
            font-size: 18px;
        }
    }
}

.hw-footer{
    margin-top: 40px;
    text-align: center;

    .hw-logo{
        width: 160px;
        margin: 20px auto 10px;
    }

    small{
        margin: 0 auto 12px;
        font-size: 12px;
        color: #cecece;
        display: block;
    }
}


/* common box comp */
.hw-article-list{
    background: #ffffff;
    padding: 0 15px;
}