.hw-star-num{
    .icon{
        color: $yellow-color;
        font-size: 20px;
        margin-right: 3px;
    }
}

.hw-icon{
    display: inline-block;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.icon-clock{
    background-image: url('../img/icon/clock.png');
}
.icon-location{
    background-image: url('../img/icon/loc.png');
}
.icon-phone{
    background-image: url('../img/icon/phone.png');
}
.icon-wechat{
    background-image: url('../img/icon/wechat.png');
    height: 16px;
}
.icon-group{
    background-image: url('../img/icon/group.png');
    height: 21px;
}
.icon-more{
    background-image: url('../img/icon/more.png');
}

.hw-base-header{
    background: $blue-color;
    .title{
        color: #ffffff;
    }

    .hw-back{
        color: #ffffff;

        .icon{
            color: #ffffff;
            font-size: 24px;
        }
    }
}

.hw-loading-more{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    div{
        font-size: 17px;
        color: #777777;
        height: 42px;
        line-height: 42px;

        ion-spinner{
            height: 28px;
        }
    }
}

.hw-kgBaseInput{

    display: block;
    margin: 0 20px;
    text-align: center;

    input{
        width: 100%;
        display: inline-block;
        height: 46px;
        font-size: 15px;
        color: $color-4a;
        padding: 0 10px;
        border: 1px solid #c5c5c5;
    }

    select{
        width: 100%;
        display: inline-block;
        height: 46px;
        font-size: 15px;
        color: $color-4a;
        padding: 0 10px;
        border: 1px solid #c5c5c5;
        background: #ffffff;
    }

    .error{
        float: right;
        color: #f20d0d;
        font-size: 9pt;
    }

    .lb{
        font-size: 14px;
        color: #acacac;
        float: left;

    }

    .lb.require:after{
        content:'*';
        color: #f00;
        font-size: 18px;
        float: right;
        position: relative;
        left: 5px;
    }
}

.hw-hwUserLoginComp{

    .tabs{
        .tab-item.active{
            color: #00a7bc;
            border-color: #00a7bc;
        }
        .tab-item{
            background: #ffffff;
            max-width: inherit;
            color: #777;
            font-size: 17px;
            border-color: #ffffff;
        }
        .activated{
            color: #777 !important;
        }
    }

    .c-box{
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
        min-height: 280px;

        .hw-btn{
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
        }
    }
}