.hw-star-num{
    .icon{
        color: $yellow-color;
        font-size: 20px;
        margin-right: 3px;
    }
}

.hw-icon{
    display: inline-block;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.icon-clock{
    background-image: url('../img/icon/clock.png');
}
.icon-location{
    background-image: url('../img/icon/loc.png');
}
.icon-phone{
    background-image: url('../img/icon/phone.png');
}
.icon-wechat{
    background-image: url('../img/icon/wechat.png');
    height: 16px;
}
.icon-group{
    background-image: url('../img/icon/group.png');
    height: 21px;
}
.icon-more{
    background-image: url('../img/icon/more.png');
}

.hw-base-header{
    background: $blue-color;
    .title{
        color: #ffffff;
    }

    .hw-back{
        color: #ffffff;

        .icon{
            color: #ffffff;
            font-size: 24px;
        }
    }
}