.hw-star-num{
    .icon{
        color: $yellow-color;
        font-size: 20px;
        margin-right: 3px;
    }
}

.hw-select{
    display: inline-block;
    height: 46px;
    font-size: 15px;
    color: $color-4a;
    padding: 0 10px 0 10px;
    border: 1px solid #c5c5c5;
    //background: transparent;

}

.hw-icon{
    display: inline-block;
    background-size: 100%;
    width: 20px;
    height: 20px;
}
.icon-clock{
    background-image: url('../img/icon/clock.png');
}
.icon-location{
    background-image: url('../img/icon/loc.png');
}
.icon-phone{
    background-image: url('../img/icon/phone.png');
}
.icon-wechat{
    background-image: url('../img/icon/wechat.png');
    height: 16px;
}
.icon-group{
    background-image: url('../img/icon/group.png');
    height: 21px;
}
.icon-more{
    background-image: url('../img/icon/more.png');
}

.hw-base-header{
    background: $blue-color;
    .title{
        color: #ffffff;
    }

    .hw-back{
        color: #ffffff;

        .icon{
            color: #ffffff;
            font-size: 24px;
        }
    }
}

.hw-loading-more{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;

    div{
        font-size: 17px;
        color: #777777;
        height: 42px;
        line-height: 42px;

        ion-spinner{
            height: 28px;
        }
    }
}

.hw-kgBaseInput{

    display: block;
    margin: 0 20px;
    text-align: center;

    input{
        width: 100%;
        display: inline-block;
        height: 46px;
        font-size: 15px;
        color: $color-4a;
        padding: 0 10px;
        border: 1px solid #c5c5c5;
    }

    select{
        width: 100%;
        display: inline-block;
        height: 46px;
        font-size: 15px;
        color: $color-4a;
        padding: 0 10px;
        border: 1px solid #c5c5c5;
        background: #ffffff;
    }

    .error{
        float: right;
        color: #f20d0d;
        font-size: 9pt;
    }

    .lb{
        font-size: 14px;
        color: #acacac;
        float: left;

    }

    .lb.require:after{
        content:'*';
        color: #f00;
        font-size: 18px;
        float: right;
        position: relative;
        left: 5px;
    }
}

.hw-hwUserLoginComp{

    .tabs{
        .tab-item.active{
            color: #00a7bc;
            border-color: #00a7bc;
        }
        .tab-item{
            background: #ffffff;
            max-width: inherit;
            color: #777;
            font-size: 17px;
            border-color: #ffffff;
        }
        .activated{
            color: #777 !important;
        }
    }

    .c-box{
        position: absolute;
        left: 0;
        top: 120px;
        width: 100%;
        min-height: 280px;

        .hw-btn{
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
        }
    }
}

.hw-line{
    height: 1px;
    width: 100%;
    display: block;
    background: #ebebeb;
    margin: 20px 0;
}

/* common box comp */
.hw-article-list{
    background: #ffffff;

    .c-title{
        font-size: 15px;
        color: #9b9b9b;
        padding: 12px 15px;
    }
    .item{
        min-height: 76px;
        height: 76px;
        padding-bottom: 12px;

        .hw-img{
            width: 76px;
            height: 56px;
            position: absolute;
            overflow: hidden;
            left: 15px;
            top: 8px;
        }

        h2{
            font-size: 17px;
            line-height: 24px;
            height: 48px;
            margin-top: 5px;
            color: $color-4a;
            font-weight: normal;
            white-space: normal;
            display: flex;
            align-items: center;
        }

        .c-small{
            font-size: 16px;
            margin-top: 2px;
            height: 38px;
            line-height: 18px;

        }
        .hw-sp{
            font-size: 9pt;
            color: #9b9b9b;
            position: relative;
            top: -2px;
        }
    }
}

.hw-coupon-list{
    background: #ffffff;
    .c-title{
        font-size: 15px;
        color: #9b9b9b;
        padding: 12px 15px;
    }
    .item{
        min-height: 74px;
        padding-bottom: 10px;

        .hw-img{
            width: 80px;
            height: 56px;
            position: absolute;
            overflow: hidden;
            left: 15px;
            top: 8px;
        }

        h2{
            font-size: 19px;
            line-height: 24px;
            height: 26px;
            margin-top: 0;
            font-weight: normal;
            white-space: normal;
            color: $yellow-color;
        }

        .c-sp{
            font-size: 12px;
            color: #777;
            display: inline-block;
            margin-top: 4px;
        }
    }
}

.hw-store-list{
    background: transparent;

    .hw-item{
        min-height: 86px;
        height: auto;
        background: #ffffff;
        padding: 12px 15px;
        padding-left: 75px;
        border-color: #ebebeb;
        border-left: none;
        border-right: none;
        padding-right: 0;

        .hw-img{
            position: absolute;
            width: 50px;
            height: 50px;
            top: 12px;
            left: 15px;
            overflow: hidden;

        }

        .h4{
            font-size: 17px;
        }

        .hw-coupon{
            height: 24px;
            border-top: 1px solid #ebebeb;
            margin-top: 2px;
            padding-top: 6px;

            p{
                color: $yellow-color;

                .icon{
                    background: url(http://www.haiwai.com/pc/image/store_coupon.png);
                    width: 24px;
                    height: 24px;
                    background-size: 100%;
                    margin-right: 8px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }

    }
}

.hw-loading-more{
    width: 100%;
    height: 40px;
    background: #ffffff;
    margin-top: 30px;
    text-align: center;

    label{
        font-size: 15px;
        cursor: pointer;
        margin: 0 auto;
        line-height: 40px;
        font-weight: normal;
        color: $blue-color;
    }

    .spinner-ios, .spinner-ios-small{
        stroke: $blue-color;
        position: relative;
        top: 6px;
    }
}