.hw-cs-step{
    width: 100%;
    height: 5px;
    background: #c5c5c5;


    p{
        background: $yellow-color;
        height: 100%;
        width: 33%;
    }
}

.hw-createstore-step1{
    .hw-kgBaseInput{
        margin-top: 20px;
    }

    .hw-catbox{
        width: 100%;
        margin-top: 5px;
        text-align: left;


        .hw-one{
            height: 34px;
            border-radius: 5px;
            border: 1px solid #c5c5c5;
            color: #979797;
            font-size: 15px;
            line-height: 34px;
            text-align: center;
            padding: 0 15px;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 12px;

            &.active{
                background: #f4a62a;
                color: #ffffff;
                border-color: #f4a62a;
            }
        }
    }
}

.hw-createstore-step2{
    .hw-kgBaseInput{
        margin-top: 20px;
    }
}