.hw-hwStoreViewComp{

    .hw-num{
        background: rgba(0, 0, 0, 0.65);
        position: absolute;
        top: 25px;
        right: 40px;
        padding: 0 10px;
        font-size: 13px;
        color: #ffffff;
        height: 24px;
        line-height: 24px;
        border-radius: 12px;
    }

    .hw-info{
        background: #ffffff;
        padding: 12px 15px;
        height: 100px;
        position: relative;
        padding-left: 95px;
        overflow: hidden;

        h4{
            font-size: 22px;
            font-weight: normal;
            color: $color-4a;
            margin: 0;
            @include no_wrap;
        }

        .hw-img{
            position: absolute;
            width: 70px;
            height: 70px;
            top: 14px;
            left: 15px;
            overflow: hidden;
        }

        .hw-sp{
            font-size:13px;
            color: #777;
            margin:0;
            @include no_wrap;
        }
    }

    .hw-list{
        .item{
            border: none;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            height: 42px;
            line-height: 42px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 45px;

            color: $color-4a;
            font-size: 14px;

            .hw-icon{
                position: absolute;
                top: 11px;
                left: 15px;
            }

            .icon{
                color: #c5c5c5;
                font-size: 28px;
            }
        }

        .hw-atm{
            padding: 8px 15px 8px 45px;
            color: $color-4a;
            font-size: 14px;
            line-height: 24px;
        }
    }

}

.hw-storeViewMoreInfo{
    .hw-list{
        .item{
            border: none;
            border-top: 1px solid #ebebeb;
            border-bottom: 1px solid #ebebeb;
            height: 42px;
            line-height: 42px;
            padding-top: 0;
            padding-bottom: 0;

            color: $color-4a;
            font-size: 14px;

            .hw-icon{
                position: absolute;
                top: 11px;
                left: 15px;
            }

            .icon{
                color: #c5c5c5;
                font-size: 28px;
            }
        }
    }
}