.cp-site-header{
    background: $blue-color;

    input::-webkit-input-placeholder{
        color: #dddddd;
        font-weight: 700;
    }

    button>.icon{
        color: #ffffff;
    }

    .c1{
        background: transparent;
        color: #ffffff;
        border: none;
        font-weight: 700;
        font-size: 14px;
        width: 100px;
        text-align: left;
        padding-right: 0;
    }

    .c-lb{
        height: 32px;
        border-radius: 16px;
        background: #00a7bc;
        border: none;
        width: 90%;
        margin-left: 1px;
        top: 2px;

        input{
            color: #ffffff;
            font-size: 14px;
        }

        .icon{
            font-size: 24px;
            color: #ffffff;
            position: relative;
            left: -6px;
        }
    }
    .c2{
        text-align: right;
        width: 50px;
        .icon:before{
            color: #ffffff;
            font-size: 28px;
        }
    }
}

.cp-site-nav{
    background: #ffffff;
    height: 191px;
    .row{
        height: 98px;
        padding: 0;
        margin-left: -1px;

        .col{
            padding: 0;
            width: 25%;
            border-bottom: 1px solid #ebebeb;
            border-left: 1px solid #ebebeb;
            text-align: center;

            a{
                display: block;
            }

            img{
                width: 25px;
                height: 32px;
                margin-top: 24px;
            }
            b{
                display: block;
                margin-top: 4px;
                font-size: 9px;
                overflow: hidden;
                height: 20px;
            }
        }
    }
}