<!DOCTYPE html>
<html lang="en">
<head>
	@@include('../inc/meta.html')
</head>
<body ng-app="HaiWaiApp" ng-controller="HomeStoreListCtrl">

<ion-header-bar class="hw-base-header">
	<div class="buttons">
		<button class="button-clear hw-back" ng-click="fn.goBack()">
			<i class="icon ion-ios-arrow-left"></i>
		</button>
	</div>

	<div class="title">
		<select style="border:none;color: #ffffff;font-size: 17px;"
		        ng-model="C.subtag"
		        ng-change="changeSubtag(C.subtag)"
		        class="hw-select">
			<option ng-selected="C.subtag==opt.tag_id"
			        ng-repeat="opt in subtaglist" value="{{::opt.tag_id}}">{{::opt.name}}</option>
		</select>
	</div>


	<div class="buttons">
		<button ng-click="fn.path.go('search.html?keyword=')" class="button-clear">
			<i style="color: #ffffff;font-size: 24px;" class="icon ion-ios-search-strong"></i>
		</button>
	</div>
</ion-header-bar>

<ion-content class="hw-content has-header">

	<div ng-if="list.length>1" class="list hw-list hw-store-list">
		<a ng-repeat="item in list track by item.entityID" class="item item-thumbnail-left hw-item"
		   href="{{::fn.path.store(item.entityID)}}">
			<hw-loading-image class="hw-img" img-src="{{::fn.logoPath(item)}}"></hw-loading-image>
			<p class="h4">{{::item.name_cn||item.name_en}}</p>
			<p style="height: 24px;">
				<hw-star-num star-num="{{::item.star}}"></hw-star-num>
				<span>{{::item.commentnum}} 条评论</span>
			</p>
			<p class="hw-sp">{{::fn.fullAddress(item)}}</p>

			<div ng-if="item.event" class="hw-coupon">
				<p ng-click="goToCoupon($event, item.event.pk_id)"><i class="icon"></i>{{::item.event.subject}}</p>
			</div>

		</a>
	</div>

	<div ng-if="list.length<1" style="margin-top: 30px;color:#777;padding:0 15px;" class="hw-center-text">{{emptyText}}</div>

	<hw-loading-more
		click-callback="loadMoreList()"
		state="more">
	</hw-loading-more>

</ion-content>

</body>
</html>